/* Animation */
@keyframes glissement {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: 5px;
  }
}


:root {
  --color_303030: #303030;
  --color_white: #ffffff80;
  --color_333333: #333333;
}

@media (prefers-color-scheme: light) {
  :root {
  --color_303030: #d4d2d2;
  --color_white: #303030;
  --color_333333: #bbbbbb;
}
  .M{
    display: none;
  }
}

main {
    color: var(--color_white);
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 200px;
}

.welcome {
  line-height: 40px;
  font-size: 35px;
  color: var(--color_white);
}


.QuoiTrouver {
  color: var(--color_white);
}









.boutton button {
    background: linear-gradient(to top right,#ffb45f, #e0621b);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    font: inherit;
    justify-content: center;
    height: 53px;
    padding: 16px;
    width: 375px;
    border: 0;
    position: absolute;
    color: white;
    font-weight: bolder;
  }
  
  .boutton .SavoirPlus button {
    margin-left: 50px; 
    background: #373636;
  }
  
  .boutton .SavoirPlus a {
    text-decoration: none;
  }
  
  .boutton button:hover{
    background: linear-gradient(to top right,#faa340, #da5407);
  }

  .boutton .SavoirPlus button:hover{
    background: #2d2d2d;
  }
  
  .boutton {
    padding-top: 60px;
  }
  
  .SavoirPlus {
    padding-left: 375px;
    padding-bottom: 15px;
  }
  
  .plus {
    margin-left: 5px;
    color: #ff0000;
    font-weight: bold;
  }
  
.ip {
  margin-left: 5px;
    color: darkorchid ;
    font-weight: bold;
}










.article {
  padding-top: 100px;
}

.articles {
  display: flex;
}

.articleImg img {
  width: 336px;
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.articleImg {
  margin-left: 20px;
  background-color: var(--color_333333);
  width: 336px;
  height: 500px;
  border-radius: 15px;
  margin-bottom: 110px;
}

.bcArticle {
  color: var(--color_white);
  padding-left: 20px;
  padding-right: 20px;
}

.bcArticle p {
  color: gray;
}

.VoirArticle {
  text-align: end;
}











.probleme2 i {
  position: absolute;
  font-size: 70px;
  color: #da5407;
  
}

.probleme {
  padding-top: 5px;
  padding-bottom: 15px;
}

.avez {
  padding-left: 85px;
}



.rdv {
  color: gray;
  margin-top: -35px;
}

.rdv i {
  font-size: 25px;
  vertical-align: middle;
  color: #da5407;
}

.rdv:hover {
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: glissement;
}


.rdv li {
  list-style-type: none;
}

.rdv a {
  text-decoration: none;
  color: gray;
}
