@media (prefers-color-scheme: dark) {
main {
    color: white;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 200px;
}

.welcome {
  line-height: 40px;
  font-size: 35px;
  color: white;
}


.QuoiTrouver {
  color: #d7d2d2;
}


.boutton button {
    background: linear-gradient(to top right,#ffb45f, #e0621b);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    font: inherit;
    justify-content: center;
    height: 53px;
    padding: 16px;
    width: 375px;
    border: 0;
    position: absolute;
    color: white;
    font-weight: bolder;
  }
  
  .boutton .SavoirPlus button {
    margin-left: 50px; 
    background: #373636;
  }
  
  .boutton .SavoirPlus a {
    text-decoration: none;
  }
  
  .boutton button:hover{background: linear-gradient(to top right,#faa340, #da5407);
  }
  
  .boutton .SavoirPlus button:hover{background: #2d2d2d;
  }
  
  
  .boutton {
    padding-top: 60px;
  }
  
  
  .SavoirPlus {
    padding-left: 375px;
    padding-bottom: 15px;
  }
  
  .plus {
    margin-left: 5px;
    color: rgb(255, 0, 0);
    font-weight: bold;
  }
  


.ip {
  margin-left: 5px;
    color: darkorchid ;
    font-weight: bold;
}


.article {
  padding-top: 100px;
}

.articles {
  display: flex;
}

.articleImg img {
  width: 336px;
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.articleImg {
  margin-left: 20px;
  background-color: #212121;
  width: 336px;
  height: 500px;
  border-radius: 15px;
  margin-bottom: 110px;
}

.bcArticle {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.bcArticle p {
  color: gray;
}

.VoirArticle {
  text-align: end;
}
}