@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);

:root {
  --color_303030: #303030;
  --color_white: #ffffff80;
  --color_333333: #333333;
  --color_text_default: #fff;
}
@media (prefers-color-scheme: light) {
  :root {
    --color_303030: #c4c2c2;
    --color_white: #303030;
    --color_333333: #cacaca;
    --color_text_default: #000;
    .M_black {
      display: block;
    }

    .M {
      display: none;
    }
  }
}
  body {
  background-color: var(--color_303030);  
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header{
  position: sticky;
  display: flex;
  align-items: center;
  background-color: var(--color_333333);
  border-radius: 30px;
  margin-left: 20px;
  margin-right: 20px;
  top: 20px;
  z-index: 99999999999;
  height: fit-content;
  padding: 10px 0;
}

.menu {
  font-family: 'Raleway', Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0px;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 80px;
  margin-left: 40px;
}

.menu li {
  display: inline-block;
  list-style: outside none none;
  padding: 0;
}
.menu a {
  color: var(--color_white);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.menu a:before,
.menu a:after {
position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu a:before {
bottom: -3px;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #00d0ff;
}
.menu a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: var(--color_white);
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.menu a:hover:before,
.menu .current a:before {
opacity: 1;
  width: 100%;
}
.menu a:hover:after,
.menu .current a:after {
  max-width: 100%;
}

.menu .minecraft-dropdown {
  display: none;
  position: absolute;
  box-shadow: 0 8px 16px #00000033;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--color_303030);
}

.menu .minecraft:hover .minecraft-dropdown {
  display: block;
  padding-left: 0;
  margin-top: 5px;
}

.menu .minecraft-dropdown li {
  margin-left: 30px;
  margin-right: 20px;
  display: block;
}


.menu .minecraft-dropdown a {
  color: var(--color_white);
}

.menu .minecraft-dropdown a:hover {
  color: var(--color_white);
}




header img {
  margin-left: 60px;
  height: 50px;
  width: auto;
  border-radius: 15px;
}

.theme {
  background-color: #7b38d8;
  padding: 5px;
  width: 175px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px; 
  font-size: 28px;
  margin-left: 600px;
  margin-right: 80px;
  margin-top: 10px;
}

footer img {
  width: 40px;
  height: 40px;
  padding-bottom: 25px;
}

footer {
  background-color: var(--color_333333);
  color: gray;
  margin-bottom: 0px;
  margin-top: 80px;
  padding-top: 25px;
  padding-left: 80px;
  padding-bottom: 15px;
  display: flex;
}
.droite a {
  text-decoration: none;
  color: gray;
}

.droite {
  padding-left: 45%;
  padding-top: 50px;
}

footer p{
  margin: 0px 0px;
}
.gauche {
  width: 443px;
}

.c {
  padding-top: 50px;
  color: #616060;
}

.color_303030 {
  color: var(--color_text_default);
}

.M_black {
  display: none;
}
