@media (prefers-color-scheme: dark) {
    table  {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.tableaux {
    display: flex;
    padding-top: 125px;
    padding-bottom: 25px;
}

td {
    padding: 10px 30px;
    border: 2px solid white;
}

th {
    padding: 10px;
    border: 2px solid white;
}

.moderator{
border: 2px solid white;
}

.member {
border: 2px solid white;
}

.M_black {
    display: none;
}

footer {
    padding-top: 150px;
}
}
@media (prefers-color-scheme: light) {
    table  {
        color: #303030;
        margin-left: auto;
        margin-right: auto;
    }
    
    .tableaux {
        display: flex;
        padding-top: 125px;
        padding-bottom: 25px;
    }
    
    td {
        padding: 10px 30px;
        border: 2px solid #303030;
    }
    
    th {
        padding: 10px;
        border: 2px solid #303030;
    }
    
    .moderator{
        border: 2px solid #303030;
    }
    
    .member {
        border: 2px solid #303030;
    }
    .M {
        display: none;
    }
    footer {
        margin-top: 150px;
    }
}