:root {
    --color_303030: #303030;
    --color_white: #ffffff80;
    --color_333333: #333333;
    --color_text_default: #fff;
}

@media (prefers-color-scheme: light) {
    :root {
        --color_303030: #d4d2d2;
        --color_white: #303030;
        --color_333333: #bbbbbb;
        --color_text_default: #000;
    }

    .M {
        display: none;
    }
}

table {
    color: var(--color_white);
    margin-left: auto;
    margin-right: auto;
}

.tableaux {
    display: flex;
    padding-top: 125px;
    padding-bottom: 25px;
}

td {
    padding: 10px 30px;
    border: 2px solid var(--color_text_default);
}

th {
    padding: 10px;
    border: 2px solid var(--color_text_default);
}

.moderator {
    border: 2px solid var(--color_text_default);
}

.member {
    border: 2px solid var(--color_text_default);
}

.M_black {
    display: none;
}

footer {
    padding-top: 150px;
}