.rule{
  color: white;
  line-height: 27px;
  font-size: 17px;
  border-left: white solid 3px;
  padding-left: 15px;
  border-radius: 1%;
  margin-top: 100px;
}


.staffs {
    text-align: center;
    margin-top: 150px;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
  }
  
  .logo img{
    width: 25%;
    vertical-align: middle;
    align-items: center;
    border-radius: 15px;
  }
  
  
  .staff{
    background-color: #21252B;
    width: 300px;
    border-radius: 10px;
    padding: 15px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.role{
    margin-left: 10px;
    border-radius: 6px;
    padding: 4px 5.6px;
    font-size: 12px;
    line-height: 1px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.roles{
    margin-bottom: 10px;
}

.staff p{
    margin: 10px auto;
}

.rules{
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

li{
  color: #0090fe;
  margin-bottom: 30px;
}

li:first-line{
  color:#FFFFFF;
}