.contenue {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 200px;
}

.rejoindre {
  color: aqua;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}

.commencez {
  line-height: 40px;
  font-size: 35px;
  color: white;
}

#explication {
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: black;
  padding-left: 5px;
  color: #ada9a9;
}

.explications {
  color: #d7d2d2;
}

.boutton button {
  background: linear-gradient(to top right,#004cff, #00d0ff);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  font: inherit;
  justify-content: center;
  height: 53px;
  padding: 16px;
  width: 375px;
  border: 0;
  position: absolute;
  color: white;
  font-weight: bolder;
}

.boutton .SavoirPlus button {
  margin-left: 50px; 
  background: #373636;
}

.boutton .SavoirPlus a {
  text-decoration: none;
}

.boutton button:hover{background: linear-gradient(to top right,#0022ff, #007bff);
}

.boutton .SavoirPlus button:hover{background: #2d2d2d;
}


.boutton {
  padding-top: 60px;
}


.SavoirPlus {
  padding-left: 375px;
  padding-bottom: 15px;
}

.plus {
  margin-left: 5px;
  color: rgb(255, 0, 0);
  font-weight: bold;
}



.article {
  padding-top: 100px;
}

.articles {
  display: flex;
}

.articleImg img {
  width: 336px;
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.articleImg {
  margin-left: 20px;
  background-color: #212121;
  width: 336px;
  height: 500px;
  border-radius: 15px;
  margin-bottom: 110px;
}

.pluginArticle {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.pluginArticle p {
  color: gray;
}

.VoirArticle {
  text-align: end;
}

.flag {
  height: 100px;
}


.flag img {
  height: 500px;
}


.question3 {
  color: white;
  line-height: 15px;
  margin-left: 100px;
}


.question2 i{
  position: absolute; 
  font-size: 45px;
  color: cornflowerblue;
  margin-top: -70px;
  margin-left: 25px;
}

.cercle{
  border: cornflowerblue solid 8px;
  border-radius: 100%;
  padding: 30px 30px 30px 30px;
  width: 0px;
  margin-top: -85px;
  position: absolute;
}


.rdv{  
  color: gray;
  margin-left: 15px;
}


.rdv i{
  margin-top: -3px;
  font-size: 25px;
  margin-left: 10px;
  vertical-align: middle;
  color: cornflowerblue;
}

.rdv:hover{
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-name: glissement;
}


@keyframes glissement {
    from {
    margin-left: 15px;
  }

  to {
    margin-left: 20px;
  }
}

.rdv li{
  list-style-type: none;
}

.rdv a{
  text-decoration: none;
  color: gray;
}


.probleme{
  margin-top: 100px;
  padding-bottom: 80px;
}

.probleme3 {
  margin-left: 100px;
  color: white;
  line-height: 15px;
}
.probleme2 i{
  position: absolute;
  margin-top: -5px;
  margin-left: 15px;
  font-size: 70px;
  color: cornflowerblue;
}

.probleme h1{
  margin-bottom: 15px;
}


footer img {
  width: 40px;
  height: 40px;
  padding-bottom: 25px;
}

footer {
  background-color: #202020;
  color: gray;
  margin-bottom: 0px;
  padding-top: 25px;
  padding-left: 80px;
}

footer p{
  margin: 0px 0px;
}


.c {
  padding-top: 50px;
  color: rgb(74, 72, 72);
}


















.aqua{
  color: cornflowerblue;
}