/*--------------------------------*/


:root {
  --color_303030: #303030;
  --color_white: #ffffff80;
  --color_333333: #333333;
  --color_text_default: #fff;
  --color_373636: #373636;
  --color_2d2d2d: #2d2d2d;
}

@media (prefers-color-scheme: light) {
  :root {
    --color_303030: #c4c2c2;
    --color_white: #303030;
    --color_333333: #cacaca;
    --color_text_default: #000;
    --color_373636: #999898;
    --color_2d2d2d: #b8b8b8;
  }

  .M {
    display: none;
  }
}

main {
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 75px;
}

.rejoindre {
  color: aqua;
  text-decoration: underline;
  font-size: 25px;
  font-weight: bold;
}

.commencez {
  font-size: 4rem;
  color: var(--color_text_default);
}


.explications {
  color: var(--color_text_default);
}

.DiscordStats iframe{
  margin-left: 850px;
  margin-bottom: -450px;
}

.boutton button {
  background: linear-gradient(to top right, #004cff, #00d0ff);
  border-radius: 6px;
  cursor: pointer;
  font: inherit;
  height: 53px;
  width: 375px;
  border: 0;
  color: white;
  font-weight: bolder;
  grid-column: 3;
}

.boutton {
  display: flex;
  padding-top: 100px;
}

.boutton .SavoirPlus button {
  background: var(--color_2d2d2d);
}

.boutton .SavoirPlus a {
  text-decoration: none;
}

.boutton button:hover {
  background: linear-gradient(to top right, #0022ff, #007bff);
}

.boutton .SavoirPlus button:hover {
  background: var(--color_373636);
}




.SavoirPlus {
  padding-left: 50px;
  padding-bottom: 15px;
}

.plus {
  margin-left: 5px;
  color: rgb(255, 0, 0);
  font-weight: bold;
}



.article {
  padding-top: 100px;
}

.articleImg:hover {
  animation-fill-mode: forwards;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.articles {
  display: flex;
  gap: 50px;
}


.articleImg img {
  object-fit: cover;
  width: 336px;
  height: 250px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.articleImg {
  background-color: var(--color_333333);
  width: 336px;
  height: 500px;
  border-radius: 15px;
  margin-bottom: 110px;
  box-shadow: var(--color_373636) 0px 5px 10px;
  transition: transform 0.3s ease;
}

.bcArticle {
  color: var(--color_text_default);
  padding-left: 20px;
  padding-right: 20px;
}

.bcArticle p {
  color: gray;
}

.VoirArticle {
  text-align: end;
}


.probleme2 i {
  font-size: 70px;
  color: cornflowerblue;
}

.probleme {
  padding-top: 5px;
  padding-bottom: 15px;
  color: var(--color_text_default);
}

.avez {
  padding-left: 85px;
}

.linkContener {
  display: flex;
  align-items: center;
  margin-top: -20px;
  gap: 10px;
}

.rdv {
  position: relative;
  color: var(--color_text_default);
  text-decoration: none;
}

.linkContener i {
  transition: all 0.3s ease-out;
  font-size: 20px;
  vertical-align: middle;
  color: cornflowerblue;
}

.rdv:hover {
  text-decoration: underline;
}

.linkContener:hover i {
  transform: translateX(5px);
  text-decoration: none;
}



.aqua {
  color: cornflowerblue;
}


.M_black {
  display: none;
}